/*
  Some custom styles
*/

html, body {
  padding: 0;
  margin: 0;
}

body {
  background: #7091a0;
}

/* CONTAIN THE NAVBAR AND CONTAINER */
.website {
  display: grid;
  grid-template-columns: 20% 80%;
}

/* CONTAINER */
.container {
  /* margin: 4rem auto 15rem auto; */
  margin: 3rem auto;
  width: 90%;
  background-color: #656566;
  padding: 1.5rem;
}

/* SCREENSHOT IMAGE */
#screenshot {
  width:100%;
  border-radius: .5rem;
}

.description {
  color: #222;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, .1);
  border-radius: .4rem;
}

/* LIST OF USES */
.use-view {
  list-style-type: disc;
}

.use-view p {
  font-size: 1.1rem;
}

.use-info {
  color: #222;
  font-size: 1.1rem;
}

/* CODE EXAMPLES */
.code-example {
  color: #88f;
  font-size: 1.2rem;
  background-color: #333;
  border-radius: .3rem;
  padding: 1rem;
  margin: 0 3rem;
}

.code-example br {
  display: none;
}

.links {
  width: 20%;
  margin: 0 auto;
}

.links a {
  width: 100%;  
}

#my-name {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .website {
    grid-template-columns: 30% 70%;
  }

  /* USE SECTION CHANGES */
  .use-section div {
    display: block;
    float: none;
  }

  .code-example {
    padding: 1rem 2rem;
    margin: .5rem auto;
  }

  .more-examples p,
  .more-examples code {
    display: block;
    width: 100%;
  }
  
}

@media (max-width: 700px) {
  .website {
    grid-template-columns: 1fr; /* one column 700px and 500px */
  }

  .code-example {
    margin: 2rem 0;
  }

  .links {
    width: 50%;
  }
  
}

@media (max-width: 500px) {
  /* LINKS FROM FOOTER */
  .links  {
    width: 80%;
  }

}