/*
  Styles for the nav
*/

.mynav {
  background-color: #227;
  /* margin: 4rem auto 15rem auto; */
}

.mynav .navbar-left ,
.mynav .navbar-right {
  padding-left: 0;
}

.mynav  .navbar-left {
  margin: 2rem 3rem;
}

.mynav .navbar-right {
  margin: 0 3rem;
}


.mynav .navbar-left li,
.mynav .navbar-right li {
  list-style: none;
}

.mynav .navbar-left li a,
.mynav .navbar-right li a {
  text-decoration: none;
  color: #ccc;
}

.mynav .navbar-left li a {
  font-size: 1.8rem;
}

.mynav .navbar-right li {
  margin: 1rem 0;
}

.mynav .navbar-right li a:hover {
  border-bottom: 1px solid #ccc;
}


/* @media (max-width: 900px) {
  .navbar-right li {
    margin: 0;
    padding: 0 5rem;
  }
  
}


@media (max-width: 700px) {
  .navbar-left li hr {
    display: block;
    color: #ffffff;
    width: 100%;
    margin: 0 auto;
  }

  .navbar-right li {
    margin: 0;
    padding: 0 5rem;
  }

  
}

@media (max-width: 500px) {
  .navbar-left li {
    margin: 0;
  }

  .navbar-left li hr {
    display: block;
    color: #ffffff;
    width: 90%;
    margin: 1rem auto 0 auto;
  }

  .navbar-right li {
    padding: 0 1rem;
    margin-top: 3rem;
  }

  #to-move {
    margin-left: 30%;
  }
  
} */